.portfolio {
  text-align: right;
}

.portfolio h4 {
  color: #ecd0d6;
}

.portfolio-underline {
  height: 3px;
  background-color: #ecd0d6;
  width: 55%;
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
}

.portfolio-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: row nowrap;
  justify-content: space-between;
  text-align: center;
}

.portfolio-container img {
  width: 19vw;
  border: 1px solid rgb(128, 128, 128);
}

.portfolio-box p {
  font-size: 15px;
  margin-bottom: 6px;
}

.portfolio-box h5 {
  color: #ecd0d6;
  margin-top: 10px;
}

.portfolio-box h6 {
  font-size: 30px;
  font-weight: 1000;
  color: #735d78;
  margin-top: -4px;
  margin-bottom: -14px;
}

/* PORTFOLIO DROPDOWNS ---------------- */

.section-line {
  background-color: black;
  height: 1px;
  margin: 10px 0 8px 0;
}

.code-list {
  display: flex;
  flex-direction: column;
}

.code-list p {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2px;
}

.portfolio-box a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: white;
  background-color: #735d78;
  width: 38%;
  margin: 0 auto;
  padding: 6px 4px 6px 4px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.ski-dropdown {
  /* display: none; */
  width: 19vw;
  margin: 0 auto;
}

.job-dropdown {
  /* display: none; */
  width: 19vw;
  margin: 0 auto;
}

.everfree-dropdown {
  /* display: none; */
  width: 19vw;
  margin: 0 auto;
}

.wandermore-dropdown {
  /* display: none; */
  width: 19vw;
  margin: 0 auto;
}
